[submodule "Atomic_Treats"]
	path = Atomic_Treats
	url = https://github.com/JamieDawson/Atomic_Treats
[submodule "Prepare_for_the_Driving_Test"]
	path = Prepare_for_the_Driving_Test
	url = https://github.com/JamieDawson/Prepare_for_the_Driving_Test
[submodule "esports_bixby_capsule"]
	path = esports_bixby_capsule
	url = https://github.com/JamieDawson/esports_bixby_capsule
[submodule "knot_capsule"]
	path = knot_capsule
	url = https://github.com/JamieDawson/knot_capsule
[submodule "drinkypedia_fixes"]
	path = drinkypedia_fixes
	url = https://github.com/JamieDawson/drinkypedia_fixes
